  <footer class="site-footer">
    <div class="container footer-grid">
      <div class="footer-col">
        <h4>Atelier</h4>
        <p><strong data-i18n="brand.name">Kunsttherapie Paderborn</strong></p>
        <p>Psychosoziale &amp; Klinische Kunsttherapeutin</p>
        <p>Otto-Stadler-Straße 23c<br>33102 Paderborn</p>
      </div>
      <div class="footer-col">
        <h4>Kontakt</h4>
        <p><a href="tel:+495251690111">Tel. 05251-690111</a></p>
        <p><a href="tel:+491704790790">Mobil 0170-4790790</a></p>
        <a href="mailto:info@kunsttherapie-pb.de" data-i18n="footer.emailLabel">E-Mail schreiben</a>
      </div>
      <div class="footer-col">
        <h4>Angebot</h4>
        <a href="kunsttherapie.html">Kunsttherapie</a>
        <a href="buchung.html">Termin buchen</a>
        <a href="events.html">Veranstaltungen</a>
        <a href="neuigkeiten.html">Neuigkeiten</a>
        <a href="preise.html">Preise</a>
        <a href="atelier.html"><span data-i18n="footer.atelier">Live-Atelier</span></a>
      </div>
      <div class="footer-col">
        <h4>Rechtliches</h4>
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutz</a>
      </div>
    </div>
    <div class="container legal-footer">
      &copy; <span id="y"></span><span class="footer-tagline-text"> Kunsttherapie Paderborn</span>
    </div>
  </footer>