  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["MedicalBusiness", "ProfessionalService"],
  "@id": "https://kunsttherapie.mkmpb.de/#localbusiness",
  "name": "Kunsttherapie Paderborn",
  "description": "Psychosoziale und klinische Kunsttherapie in Paderborn – Gruppen, Auszeit, Einzelsitzungen, Teambuilding und Vorträge.",
  "url": "https://kunsttherapie.mkmpb.de/",
  "image": "https://kunsttherapie.mkmpb.de/assets/img/Gruppen-und-Einzeltherapie-768x524.jpg",
  "telephone": "+49-5251-690111",
  "email": "info@kunsttherapie-pb.de",
  "priceRange": "ab 39 €",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Otto-Stadler-Straße 23c",
    "postalCode": "33102",
    "addressLocality": "Paderborn",
    "addressRegion": "NRW",
    "addressCountry": "DE"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 51.7385453,
    "longitude": 8.7853015
  },
  "areaServed": "Paderborn",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Tuesday",
      "opens": "11:00",
      "closes": "12:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Thursday",
      "opens": "18:00",
      "closes": "19:30"
    }
  ]
}
</script>
